
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include('partials/nav') %>
    <%- include('partials/categories') %>

    <link rel="stylesheet" href="/styles/4_homepage_logged.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/like.js"></script>
  </head>

  <body>
    <h1>HOMEPAGE_LOGGED_IN</h1>
    <main class="grid" >
    <% for (let item in resource) { %>
      <header>
      <div class ="resource-image">
        <a href= <%= resource[item].resource_url %> target="_blank" >
          <img src=<%= resource[item].resource_image_url %> alt= <%= resource[item].title %> style="width:200px;">
        </a>
      </div>
    </header>
    <footer>
      <div class="resource-details">

        <a href="/resources/<%= resource[item].id %>"" ><%= resource[item].title %></a>
        <p>Rating: <%= resource[item].rating %></p>
        <p>Added by: <%= resource[item].username %></p>

        <div class="post" postid=<%= resource[item].id %> likestatus=<%= resource[item].like %>>
          <input type="button" class='like' value="Like" /> </input>
      </div>

      </div>
    </div>
  </footer>
    <% } %>
    </main>
  </body>
</html>



<!-- title, resource_url, description, resource_image_url, rating, user_id -->
