<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class='page_divider'>

  <header>
    <%- include('partials/nav') %>
  </header>

  <main class='main-container'>

    <div class=box1>
      <%- include('partials/categories') %>
    </div>
    <div class='page-detail'>

      <div class='titles'>
        <h2>RESOURCE DETAILS</h2>


        <header>

          <div class='resources-container'>
            <p>Title: <%= resource.title %></p>
            <p>Username: <%= resource.username %></p>
            <p>Rating: <%= resource.rating %></p>
            <p>CATEGORIES:</p>
            <% for (let category of categories) { %>
            <p><%= category.category %></p>
            <% } %>

          </div>
        </header>

        <footer>

          <div class="resource-image">
            <a href=<%= resource.resource_url %>>
              <img src=<%= resource.resource_image_url %>>
            </a>
            <p><%= resource.description %></p>
          </div>
        </footer>

        <div class='resources-container'>
          <form class="form-resource" action="/resources/<%= id %>" method="POST">
            <div class="form-group mb-2">
              <label for="category">ADD CATEGORY:</label>
              <input type="text" id="category" name="category">
              <label for="rating">RATING:</label>
              <input type="number" id="rating" name="rating">
              <label for="comment">COMMENT:</label>
              <input type="comment" id="comment" name="comment">
              <button type ='submit'>SUBMIT</button>
            </div>
          </form>
        </div>
        <div class ='resources-container'>
          <label>OLD COMMENTS:</label>
          <% for (let comment of comments) { %>

          <p><%= comment.comments %></p>
          <% } %>
        </div>

      </div>
    </div>
  </main>

</body>

</html>
