<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/5_url_desc.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <%- include('partials/head') %>
  </head>
  <body class='page_divider'>
    <header>
      <%- include('partials/nav') %>
    </header>
    <main class='main-container'>

      <div class=box1>
        <%- include('partials/categories') %>
      </div>

      <div class='page-detail'>

        <div class='title'>
          <h2>RESOURCE DETAILS</h2>
        </div>

        <header>
          <div class='resources-container'>
            <p><%= resource.title %></p>
            <p><%= resource.username %></p>
            <p><%= resource.rating %></p>
            <label>CATEGORIES:</label>
            <% for (let category of categories) { %>

            <p><%= category.category %></p>
            <% } %>
            <!-- NEED TO ADD LIKE POST LINK HERE -->
            <!-- <form method="POST" action="/"><button>Delete</button></form> -->
        </div>
       </header>
      <footer>
        <div class ="resource-image">
          <a href= <%= resource.resource_url %> >
            <img src=<%= resource.resource_image_url %>>
          </a>
          <p><%= resource.description %></p>
        </div>
      </footer>
      <div class='resources-container'>
    <form class="form-resource" action="/resources/<%= id %>" method="POST">
      <div class="form-group mb-2">
        <label for="category">ADD CATEGORY:</label>
        <input type="text" id="category" name="category">
        <label for="rating">RATING:</label>
        <input type="number" id="rating" name="rating">
        <label for="comment">COMMENT:</label>
        <input type="comment" id="comment" name="comment">
        <button type='submit'>SUBMIT</button>
      </div>
    </form>
    </div>
    <div class='resources-container'>
    <label>OLD COMMENTS:</label>
    <% for (let comment of comments) { %>

      <p><%= comment.comments %></p>
      <% } %>
    </div>
  </main>
  </body>
</html>
