<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <%- include('partials/nav') %>

  <body>
    <h1>PROFILE</h1>

    <form class="form-inline" action="/users/profile/:id" method="POST">
      <div class="form-group mb-2">

        <label for="username">USERNAME:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>">
        <label for="first_name">FIRST NAME:</label>
        <input type="text" id="first_name" name="first_name" value="<%= user.first_name %>">
        <label for="last_name">LAST NAME:</label>
        <input type="text" id="last_name" name="last_name" value="<%= user.last_name %>">
        <label for="date_of_birth">BIRTHDAY:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" value="<%= user.date_of_birth %>">
        <label for="email">EMAIL:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>">
        <label for="profile_image_url">PHOTO:</label>
        <input type="url" id="profile_image_url" name="profile_image_url" value="<%= user.profile_image_url %>">
        <button type='submit'>SUBMIT</button>
       </div>
    </form>
  </body>
</html>

username, first_name, last_name, date_of_birth, email, password, profile_image_url
