
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/6_profile.css" type="text/css" />
    <%- include('partials/head') %>
  </head>

  <body class="page-divider">

  <header>
    <%- include('partials/nav') %>
  </header>
  <main class='main-container'>

    <div class=box1>
      <%- include('partials/categories') %>
    </div>

    <div class="page-detail">
    <div class="title">
      <h2>PROFILE</h2>
    </div>


    <div class="resources-container">
      <img src=<%= users.profile_image_url %> style="width:300px;">

    <table class="table">
    <form class="form-inline" action="/users/profile/:id" method="POST">
      <div class="profile-info">
          <div class="table-row">
            <label for="username">USERNAME:</label>
            <input type="text" id="username" name="username" value="<%= users.username %>">
          </div class="table-row">
          <div class="table-row">
            <label for="first_name">FIRST NAME:</label>
            <input type="text" id="first_name" name="first_name" value="<%= users.first_name %>">
          </div class="table-row">
          <div class="table-row">
            <label for="last_name">LAST NAME:</label>
            <input type="text" id="last_name" name="last_name" value="<%= users.last_name %>">
          </div class="table-row">
          <div class="table-row">
            <label for="email">EMAIL:</label>
            <input type="email" id="email" name="email" value="<%= users.email %>">
          </div class="table-row">
          <div class="table-row">
            <label for="profile_image_url">PHOTO:</label>
            <input type="url" id="profile_image_url" name="profile_image_url" value="<%= users.profile_image_url %>">
          </div class="table-row">
          <div class="table-row">
        <button type='submit'>UPDATE</button>
        </div class="table-row">
      </table>
    </div>
       </div>
    </form>

    </div>
  </main>
  </body>
</html>
