
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <%- include('partials/nav') %>
  <%- include('partials/categories') %>
  <body>
    <main>
      <% for (let item in resource) { %>
        <header>
        <div class ="resource-image">

          <a href= <%= resource[item].resource_url %> >
            <img src=<%= resource[item].resource_image_url %> alt= <%= resource[item].title %> style="width:200px;">
          </a>
        </div>
      </header>
      <footer>
        <div class="resource-details">
          <p><%= resource[item].title %></p>
          <p><%= resource[item].rating %></p>
          <p><%= resource[item].username %></p>
          <!-- NEED TO ADD LIKE POST LINK HERE -->
          <!-- <form method="POST" action="/"><button>Delete</button></form> -->
      </div>
    </footer>
      <% } %>
      </main>
  </body>
</html>
