<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class='page_divider'>
  <header>
    <%- include('partials/nav') %>
  </header>

  <main class='main-container2'>

    <div class=box1>
      <%- include('partials/categories') %>
    </div>

    <div class='page-detail'>

      <div class='main-grid'>
        <% for (let item in resource) { %>

          <div class = 'individual-grid'>
        <header>
          <div class="resource-image">
            <a href=<%= resource[item].resource_url %>>
              <img src=<%= resource[item].resource_image_url %> alt=<%= resource[item].title %> style="width:200px;">
            </a>
          </div>
        </header>

        <footer>
          <div class="resource-details">
            <a href="/resources/<%= resource[item].id %>"" ><%= resource[item].title %></a>
              <p>Rating: <%= resource[item].rating %></p>
              <p>Added by: <%= resource[item].username %></p>

              <div class="post" postid=<%= resource[item].id %> likestatus=<%= resource[item].like %>>
                <input type="button" class='like' value="Like" /> </input>
          </div>
        </footer>
      </div>
        <% } %>

      </div>
    </div>
  </main>
</body>
