
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <%- include('partials/nav') %>
  <body>
    <h1>SEARCH RESULT</h1>
    <%- include('partials/categories') %>
    <main>
      <% for (let item in resource) { %>
        <header>
        <div class ="resource-image">

          <a href= <%= resource[item].resource_url %> >
            <img src=<%= resource[item].resource_image_url %> alt= <%= resource[item].title %> style="width:200px;">
          </a>
        </div>
      </header>
      <footer>
        <div class="resource-details">
          <p><%= resource[item].title %></p>
          <p><%= resource[item].rating %></p>
          <p><%= resource[item].username %></p>
          <!-- NEED TO ADD LIKE POST LINK HERE -->
          <!-- <form method="POST" action="/"><button>Delete</button></form> -->
      </div>
    </footer>
      <% } %>
      </main>
  </body>
</html>
